#Titulo {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Player{
    color: #000000;
    font-size: 15px;
    margin: 15px;
    font-weight: bold;
    text-align: center;
}

#Skill{
    color: #000000;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

#Button{
    color: #000000;
    font-size: 15px;
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}


#error{
    color: #FF0000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showPlayers{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#listPlayers{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

