#Titulo {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#formsUser{
    color : 000000;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


#Submit-button{
   font-size: 15px;
   color: #FFFFFF;
   border: none;
   margin-top: 15px;
   background-color: #73AD21;
   padding : 10px;
   border-radius: 5px;
}

label{
    display:block;
    margin-bottom: 5px;
}

#listPlayers{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sortear-button{
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    background-color: #73AD21;
    padding : 10px;
    border-radius: 5px;
}

#error{
    color: #FF0000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showPlayers{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#listPlayers{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

